        <li class="goal" id="goal-<%= goal.id %>">
          <div class="title"><%= goal.title %></div>
          <%= goal.completion_target %>
          <%= link_to "Edit Goal", edit_goal_path(goal) %>
          <%# goal.order %>
          <%# goal.state %>
        </li>