<div class="content">
  <div class="page-header">
    <h1>Goal#index <small>Find me in app/views/goal/index.html.erb</small></h1>
  </div>
  <div class="row">
    <div class="span16">
      <h2>Focused</h2>
      <ul id="goals-focused" class="goal-list clearfix">
      <% @goals_focused.each do |goal| %>
        <li class="goal">
          <div class="title"><%= goal.title %></div>
          <% goal.order %>
          <% goal.state %>
        </li>
      <% end %>
      </ul>

      <h2>Active/Maintaining</h2>
      <ul id="goals-active" class="goal-list clearfix">
      <% @goals_active.each do |goal| %>
        <li class="goal">
          <div class="title"><%= goal.title %></div>
          <% goal.order %>
          <% goal.state %>
        </li>
      <% end %>
      </ul>
      
      <h2>Someday</h2>

      <ul id="goals-someday" class="goal-list clearfix">
      <% @goals_someday.each do |goal| %>
        <li class="goal">
          <div class="title"><%= goal.title %></div>
          <% goal.order %>
          <% goal.state %>
        </li>
      <% end %>
      </ul>
    </div>
    <!-- <div class="span4">
      <h3>Secondary content</h3>
    </div> -->
  </div>
</div>


