<div class="content">
  <div class="page-header">
    <h1>Goals <small>What's your focus?</small></h1>
  </div>
  <div class="row">
    <div class="span16">
      <h2>Focused</h2>
      <ul id="goals-focused" class="goal-list clearfix">
      <% @goals_focused.each do |goal| %>
        <%= render :partial => "card", :locals => { :goal => goal } %>
      <% end %>
      </ul>

      <h2>Active/Maintaining</h2>
      <ul id="goals-active" class="goal-list clearfix">
      <% @goals_active.each do |goal| %>
        <%= render :partial => "card", :locals => { :goal => goal } %>
      <% end %>
      </ul>
      
      <h2>Someday</h2>

      <ul id="goals-someday" class="goal-list clearfix">
      <% @goals_someday.each do |goal| %>
        <%= render :partial => "card", :locals => { :goal => goal } %>
      <% end %>
      </ul>
    </div>

    <%= link_to "Add new goal", :action => "new"  %>
    <!-- <div class="span4">
      <h3>Secondary content</h3>
    </div> -->
  </div>
</div>
